<footer class="footer">

        <div class="container is-desktop">
            <div class="columns">
                <div class="column is-one-third">
                    <figure class="image">
                        <img src="/fav10-logo.png" alt="SaleTag" style="max-width: 70.5px; height: auto;">
                    </figure>
                    
                    <hr />
    
                    <p>
                            Copyright © 2009-2020 fav10.co.uk. All Rights Reserved.
                    </p>
                </div>
                <div class="column">
                        <div class="buttons">
                            <a href="/about-us" class="button is-small" alt="About fav10">About us</a>
                            <a href="/contact-us" alt="Contact fav10" class="button is-small">Contact</a>
                            <a href="/terms" alt="fav10 Usage Terms" class="button is-small">Terms</a>
                            <a href="/privacy" alt="Privacy Policy of fav10" class="button is-small">Privacy</a>
                            <a href="/cookies" alt="How fav10 Uses Cookies" class="button is-small">Cookie</a>
                        </div>
    
                        <p class="content">
                            Made to help you make informed decisions online.
                        </p>
                </div>
                
            </div>
        </div>
    </section>