<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/#fav10">
            <img src="/fav10-logo.png" alt="Top 10 of everything" width="90" height="28">
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-end">
                <a href="/categories/tech" class="navbar-item">Tech</a>
                <a href="/categories/money" class="navbar-item">Money</a>
                <a href="/categories/shopping" class="navbar-item">Shopping</a>
            </div>
        </div>
    </div>
</nav>